* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --bubbleTiming: cubic-bezier(0.5,0.15,0.25,1.75);
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24
 }

html, body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #000;
    overflow: hidden;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /*height: 100vh;*/
    /*width: 100%;*/
}

.main {
    text-align: center;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #e0e0e0;
    background-image: linear-gradient(45deg, #f9faf8, #fff, #e0e0e0);
    aspect-ratio: 7 / 5;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    max-height: 80vh;
    margin: auto;
}
.schoolbell-regular {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20%;
    color: #1e1e1e;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 15s ease infinite;
}

.walter-turncoat-regular {
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
}

button {
    font-family: "Walter Turncoat", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    font-size: 16px;
    border: #bb86fc 1px solid;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #3700b3;
    cursor: pointer;
    transition: background-color 0.3s;
    background: linear-gradient(180deg, #bb86fc, #e0e0e0);
    animation: gradientAnimation 15s ease infinite;
    background-size: 500%;
}

button:hover {
    /*background: linear-gradient(180deg, #bb86fc, #3700b3);
    color: #e0e0e0;*/
}

input {
    font: 0.7em/0.5 sans-serif;
    font-size: calc(40px + (60 - 40) * (100vw - 320px) / (1280 - 320));
}
label, .bubble {
    display: block;
    -webkit-tap-highlight-color: transparent;
}
.main label {
    animation: float 4s ease-in-out infinite;
}
.bubble, .bubble:before, .bubble:after  {
    transition-duration: 0.2s;
}
.bubble, .bubble:after {
    border-radius: 50%;
}
.bubble {
    background-image:
            radial-gradient(8% 8% at 22% 28%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
            radial-gradient(8% 8% at 23% 27%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
            radial-gradient(8% 8% at 24% 26%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
            radial-gradient(8% 8% at 25% 25%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
            radial-gradient(8% 8% at 26% 24%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
            radial-gradient(8% 8% at 27% 23%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%),
            radial-gradient(8% 8% at 28% 22%,hsl(0,0%,100%) 45%,hsla(0,0%,100%,0) 50%);
    background-repeat: no-repeat;
    box-shadow:
            0 -0.06em 0.1em hsl(0,90%,100%) inset,
            0 -0.15em 0.4em hsl(0,90%,45%) inset,
            0 0.05em 0.05em hsl(0,90%,45%) inset,
            0.05em 0 0.1em hsl(0,90%,100%) inset,
            -0.05em 0 0.1em hsl(0,90%,100%) inset,
            0 0.1em 0.4em hsl(0,90%,60%) inset;
    cursor: pointer;
    position: relative;
    width: 3em;
    height: 3em;
    transform-style: preserve-3d;
    transition-property: box-shadow, transform, width, height;
    transition-timing-function: ease-in-out, ease-in-out, var(--bubbleTiming), var(--bubbleTiming);
    will-change: transform;
    -webkit-appearance: none;
    appearance: none;
    z-index: 0;
}
.bubble:before, .bubble:after {
    content: "";
    display: block;
    position: absolute;
    transition-timing-function: var(--bubbleTiming);
}
.bubble:before {
    border-radius: 0.75em;
    font-family: 'Material Symbols Outlined', monospace;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    content: '\e627';
    text-align: center;
    filter: drop-shadow(0.6em 0.6em 4px hsla(0,0%,0%,0.2));
    top: 25%;
    left: 25%;
    opacity: 50%;
    aspect-ratio: 1 / 1;
    /*width: 50%;*/
    /*height: 50%;*/
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    /*     top: 50%;
        left: 5
        width: 1.5em;
        height: 1.5em;*/
    /*transform: translate3d(-50%,-50%,-1px) rotate(-360deg);*/
    transform: rotate(-360deg);
    z-index: -1;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: cover;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bubble:after {
    background: radial-gradient(100% 100% at center,hsla(0,0%,0%,0) 35%,hsla(0,0%,0%,0.2) 48%,hsla(0,0%,0%,0) 50%);
    filter: blur(4px);
    top: 0.6em;
    left: 0.6em;
    width: 100%;
    height: 100%;
    transform: translate3d(0,0,-1px);
    z-index: -2;
}
.bubble:focus, .bubble:hover {
    transform: scale(1.1);
    outline: none;
}
.bubble:focus:active, .bubble:hover:active {
    width: 3.6em;
    height: 2.4em;
}
.bubble:focus:before, .bubble:hover:before {
    /*filter: drop-shadow(0.75em 0.75em 4px hsla(0,0%,0%,0.2));*/
    transform: rotate(-30deg);
    transition: all 5s ease;
}
.bubble:focus:after, .bubble:hover:after {
    transform: translate3d(0.15em,0.15em,-1px);
}
.bubble:checked {
    box-shadow:
            0 -0.06em 0.1em hsl(120,90%,100%) inset,
            0 -0.15em 0.4em hsl(120,90%,45%) inset,
            0 0.05em 0.05em hsl(120,90%,45%) inset,
            0.05em 0 0.1em hsl(120,90%,100%) inset,
            -0.05em 0 0.1em hsl(120,90%,100%) inset,
            0 0.1em 0.4em hsl(120,90%,60%) inset;
}
.bubble:checked:before {
    border-radius: 0.25em;
    width: 0.5em;
}
/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
    label {
        animation: none;
    }
    .bubble, .bubble:before, .bubble:after {
        transition-duration: 0s;
    }
    .bubble:focus, .bubble:hover {
        transform: scale(1);
    }
    .bubble:focus:active, .bubble:hover:active {
        width: 3em;
        height: 3em;
    }
    .bubble:focus:before, .bubble:hover:before {
        filter: drop-shadow(0.6em 0.6em 4px hsla(0,0%,0%,0.2));
    }
    .bubble:focus:after, .bubble:hover:after {
        transform: translate3d(0,0,-1px);
    }
}
/* Animations */
@keyframes float {
    from, to {
        transform: translate(0,3%);
    }
    25% {
        transform: translate(-3%,0);
    }
    50% {
        transform: translate(0,-3%);
    }
    75% {
        transform: translate(3%,0);
    }
}